<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}Help{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      {{#link-to "new-entry" tagName="li"}}
          <a {{bind-attr href="view.href"}}>New Entry</a>
      {{/link-to}}
      {{#if this.lexemes}}
      {{#link-to "lex" this tagName="li"}}
          <a {{bind-attr href="view.href"}}>Lexicon</a>
      {{/link-to}}
      {{#link-to "term" this tagName="li"}}
          <a {{bind-attr href="view.href"}}>Terminology</a>
      {{/link-to}}
      {{/if}}
      {{#link-to "tbx" this tagName="li"}}
          <a {{bind-attr href="view.href"}}>TBX</a>
      {{/link-to}}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
    {{outlet}}
    </div>
</div>
