<div class="row">
{{#if entries}}
  {{#each entries}}
  <div class="lexical-entry">
    <div class="row">
      <div class="col-md-12">
        <h3 class="entry-header">
          {{#link-to "entry" id}}
            {{name}}
          {{/link-to}}
          {{!--<span class="util glyphicon glyphicon-remove pull-right" {{action 'deleteEntry' this.id}}></span>--}}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="entry-definition">
          {{concept.definition}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>Lexicon</h4>
        <table class="table table-bordered">
          <tr><th>Lexical ID</th><th>Lexical Class</th></tr>
          <tr><td>{{lex_id}}</td><td>{{lexical_class.name}}</td></tr>
        </table>
      </div>
      <div class="col-md-3">
        <h4>Terminology</h4>
        <table class="table table-bordered">
          <tr><th>Concept</th><th>Subject Fields</th></tr>
          <tr>
            <td>{{concept.concept_id}}</td>
            <td>
              <ul class="list-unstyled subject-field-list">
                {{#each field in concept.subject_fields}}
                <li>{{field.name}}</li>
                {{/each}}
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <h4>Paradigm</h4>
        <table class="table table-bordered form-table">
          <tr><th>Form Name</th><th>Features</th><th>Written Representation</th></tr>
          {{#each lex_form in lexical_forms}}
          <tr>
            <td>{{lex_form.form.name}}</td>
            <td>
              <ul class="list-inline">
                {{#each feature in lex_form.form.features}}
                <li>
                  {{feature.name}}
                </li>
                {{/each}}
              </ul>
            </td>
            <td>{{lex_form.written_representation.name}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
  <br />
  {{/each}}
{{else}}
  {{#if searchCompleted}}
  <div class="lexical-entry">
    <div class="row">
      <div class="col-md-12">
        <h3 class="entry-header">
          No Entries Found
        </h3>
      </div>
    </div>
  </div>
  {{else}}
  <img src="/images/loading.gif" />
  {{/if}}
{{/if}}
</div>

<div class="row">
  {{pager-component
    allPages=pages
    setLimit="adjustLimit"
    setStart="adjustStart"
  }}
</div>
